.header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5);
}

@media screen and (max-width: 1100px) {
  .header {
    padding-bottom: 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .header__container {
    flex-direction: column;
  }
}

.header__navigation-part {
  background-color: rgba(30, 30, 30, 0.18);
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (max-width: 780px) {
  .header__navigation-part {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 640px) {
  .header__navigation-part {
    display: none;
  }
}

.header__logo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-image: url(../../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.header__navigation-wrapper {
  width: 80%;
}

@media screen and (max-width: 680px) {
  .header__navigation-wrapper {
    display: none;
  }
}

.header__navigation-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header__navigation-li {
  list-style-type: none;
  margin-right: 10px;
  font-family: 'Inknut Antiqua', serif;
}

.header__navigation-li:hover {
  transform: scale(1.1);
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .header__navigation-li {
    font-size: 14px;
  }
}

.header__title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  align-self: flex-start;
  width: 700px;
  height: 578px;
  position: relative;
}

@media screen and (max-width: 1100px) {
  .header__title-container {
    height: 510px;
  }
}

@media screen and (max-width: 1020px) {
  .header__title-container {
    margin-right: 20px;
    height: 450px;
  }
}

@media screen and (max-width: 780px) {
  .header__title-container {
    height: 400px;
    margin-right: 10px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 640px) {
  .header__title-container {
    height: 300px;
  }
}

@media screen and (max-width: 550px) {
  .header__title-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: auto;
  }
}


.header__title {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 100px;
  margin-bottom: 0;
}

@media screen and (max-width: 1260px) {
  .header__title {
    font-size: 80px;
  }
} 

@media screen and (max-width: 550px) {
  .header__title {
    margin-top: 20px;
  }
} 

.header__subtite {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 60px;
  margin: 0;
  
}

@media screen and (max-width: 1020px) {
  .header__subtite {
    font-size: 40px;
  }
}

.header__main-pic {
  width: 565px;
  height: 578px;
}

@media screen and (max-width: 1100px) {
  .header__main-pic {
    width: 500px;
    height: 510px;
  }
}

@media screen and (max-width: 1020px) {
  .header__main-pic {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 780px) {
  .header__main-pic {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 640px) {
  .header__main-pic {
    border-radius: 50%;
  }
}

@media screen and (max-width: 640px) {
  .header__main-pic {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 550px) {
  .header__main-pic {
    display: none;
  }
}

.header__band-pic {
  transform: rotate(26deg);
  width: 170px;
  height: 130px;
  position: absolute;
  bottom: 180px;
  right: 20px;
  z-index: 2;
}

@media screen and (max-width: 1260px) {
  .header__band-pic {
    bottom: 150px;
    right: 20px;
  }
} 

@media screen and (max-width: 1100px) {
  .header__band-pic{
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .header__band-pic {
    display: flex;
    position: relative;
    transform: rotate(0deg);
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: auto;
  }
}

.header__solist-pic {
  transform: rotate(24deg);
  width: 170px;
  height: 130px;
  position: absolute;
  bottom: 30px;
  right: 360px;
  z-index: 2;
}

@media screen and (max-width: 1190px) {
  .header__solist-pic {
    right: 260px;

  }
} 

@media screen and (max-width: 1100px) {
  .header__solist-pic{
    display: none;
  }
}

.header__consert-pic {
  transform: rotate(-24deg);
  width: 170px;
  height: 130px;
  position: absolute;
  bottom: 30px;
  right: 130px;
  z-index: 2;
}

@media screen and (max-width: 1190px) {
  .header__consert-pic {
    bottom: 30px;
    right: 100px;
  }
} 

@media screen and (max-width: 1100px) {
  .header__consert-pic{
    display: none;
  }
}

.header__navigation-link {
  text-decoration: none;
  color: black;
}
